.sidenav-container {
  height: 100%;
  
}

.sidenav {
  width: 200px;
  background-color: lightblue;
}

.sidenav .mat-toolbar {
  // background: inherit;
  background: rgb(255, 208, 0);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  justify-content: space-between;
}

.dropdown {
 padding-left: 6px;
}
