.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.example-card {
  display: flex;
  min-width: 300px;
  min-height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.custom-font{
  font-size: 30pt;
}
