.container {
  display: flex;
  justify-content: space-around;
}

.example-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.custom-font{
  font-size: 16pt;
}
