<mat-toolbar color="primary" class="navbar">

  <div><mat-icon>group_work</mat-icon>Problox</div>

  <div>
    <a mat-button routerLink="home"> <mat-icon>home</mat-icon></a>
    <a mat-button routerLink="join-game">Games</a>
    <a mat-button routerLink="create-merch">Merch</a>
    <a mat-button routerLink="create-message">Chat</a>
    <a mat-button routerLink="contact-page">Contact</a>
    
    <a mat-button routerLink="login" class="dropbtn">Login</a>
    <a mat-raised-button routerLink="register" color="accent">Sign Up</a>
    <a mat-button><mat-icon>logout</mat-icon></a>
  </div>
</mat-toolbar>

<!-- <div>
  <ul> -->
<!-- <li><div class="dropdown">
    <span class="dropbtn">User</span>
    <div class="dropdown-content">
      <a routerLink="/login">Log In</a>
      <a routerLink="/register">Register</a>
    </div>
  </div>
</li>

<li><div class="dropdown">
  <span class="dropbtn">Games</span>
  <div class="dropdown-content">
    <a routerLink="/games">All Games</a>
    <a routerLink="/create-game">Add Game</a>
  </div>
</div>
</li>

<li><div class="dropdown">
  <span class="dropbtn">Merch</span>
  <div class="dropdown-content">
    <a routerLink="/create-merch">Create Merch</a>
  </div>
</div>
</li>

<li><div class="dropdown">
  <span class="dropbtn">Email</span>
  <div class="dropdown-content">
    <a routerLink="/contact-page">Contact Page</a>
  </div>
</div>
</li>

<li><div class="dropdown">
  <span class="dropbtn">Chat</span>
  <div class="dropdown-content">
    <a routerLink="/create-message">Create Message</a>
  </div>
</div>
</li>

<li><div class="dropdown">
  <span class="dropbtn">Promotions</span>
  <div class="dropdown-content"> -->
<!-- <a routerLink="/create-message"></a> -->
<!-- </div>
</div>
</li>
</ul>
</div> -->
