
<h2>Add a Game!</h2>
<div>
  <form [formGroup] = "addGame">
    <div>
      <mat-form-field appearance="outline" class="form-element" >
        <mat-label>Name: </mat-label>
        <input type="text" matInput placeholder="Required" formControlName="name" />
    </mat-form-field>
  </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Description: </mat-label>
        <textarea type="text" matInput placeholder="Required" formControlName="description" > </textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Price: </mat-label>
        <input type="text" matInput currencyMask placeholder="0.00" formControlName="price" value= 0.00 />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Image URL:</mat-label><br>
        <input type="text" matInput placeholder="Optional" formControlName="imgUrl" />
      </mat-form-field>
    </div>
    <div class="select-element">
      <mat-form-field appearance="outline">
        <mat-label>Tier: </mat-label><br>
        <mat-select  name="tier" style="width: 20rem" formControlName="categories">
          <mat-option [value]="null" disabled>Select a tier</mat-option>
          <mat-option *ngFor="let tier of tiers" [value]="tier">{{tier}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

      <button type="button" (click)="postGame()">Add</button>
  </form>


</div>
