<div>
  <ul>
  <li><div class="dropdown">
    <span class="dropbtn">User</span>
    <div class="dropdown-content">
      <a routerLink="/login">Log In</a>
      <a routerLink="/register">Register</a>
    </div>
  </div>
</li>

<li><div class="dropdown">
  <span class="dropbtn">Games</span>
  <div class="dropdown-content">
    <a routerLink="/games">All Games</a>
    <a routerLink="/create-game">Add Game</a>
  </div>
</div>
</li>

<li><div class="dropdown">
  <span class="dropbtn">Merch</span>
  <div class="dropdown-content">
    <a routerLink="/create-merch">Create Merch</a>
  </div>
</div>
</li>

<li><div class="dropdown">
  <span class="dropbtn">Email</span>
  <div class="dropdown-content">
    <a routerLink="/contact-page">Contact Page</a>
  </div>
</div>
</li>

<li><div class="dropdown">
  <span class="dropbtn">Chat</span>
  <div class="dropdown-content">
    <a routerLink="/create-message">Create Message</a>
  </div>
</div>
</li>

<li><div class="dropdown">
  <span class="dropbtn">Promotions</span>
  <div class="dropdown-content">
    <!-- <a routerLink="/create-message"></a> -->
  </div>
</div>
</li>
</ul>
</div>
